<% provide(:title, "Sales") %>

<% # header %>

<% # graph %>
<%= line_chart [
  {name: "Series A", data: 1 },
  {name: "Series B", data: 2 }
], xtitle: "時間", ytitle: "売上" %>

<% # 当日の実表 %>
<div>
  <p>当日</p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="center" scope="col">時間</th>
        <% (7..22).each do |num| %>
          <th class= "center" scope="col"><%= num %></th>
        <% end %>
        <th class="center" scope="col">合計</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="center" scope="row">件数</th>
        <% (7..22).each do |num| %>
          <td class="rigth"><%= @today_transactions[num] %></td>
        <% end %>
        <td class="rigth"><%= @today_transactions_total %></td>
      </tr>
      <tr>
        <th class="center" scope="row">単価</th>
        <% (7..22).each do |num| %>
          <td class="rigth"><%= @today_price[num] %></td>
        <% end %>
        <td class="rigth"><%= @today_price_total %></td>
      </tr>
      