<div>
  <h2><%= @any_day.first[:date] %></h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="center" scope="col">時間</th>
        <% 16.times do |num| %>
          <th class= "center" scope="col"><%= num + 7 %></th>
        <% end %>
        <th class="center" scope="col">合計</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="center" scope="row">件数</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <td class="rigth" contentEditable = "true"><%= @any_day.find_by(time: num)[:transactions] %></td>
          <% total << @any_day.find_by(time: num)[:transactions] %>
        <% end %>
        <td class="rigth"><%= total.sum %></td>
      </tr>
      <tr>
        <th class="center" scope="row">単価</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <td class="rigth" contentEditable = "true"><%= @any_day.find_by(time: num)[:price] %></td>
          <% total << @any_day.find_by(time: num)[:price] %>
        <% end %>
        <td class="rigth"><%= total.sum / total.length %></td>
      </tr>
      <tr>
        <th class="center" scope="row">時間別合計金額</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <td class="rigth"><%= @any_day.find_by(time: num)[:total] %></td>
          <% total << @any_day.find_by(time: num)[:total] %>
        <% end %>
        <td class="rigth"><%= total.sum / total.length %></td>
      </tr>
      <tr>
        <th class="center" scope="row">累計金額</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <% total << @any_day.find_by(time: num)[:total] %>
          <td class="rigth"><%= total.sum %></td>
        <% end %>
        <td class="rigth"><%= total.sum %></td>
      </tr>
    </tbody>
  </table>
  <input type="date" id="date">
  <input type="submit" id="submit" class="btn btn-primary" value="変更">
  <script>
    $('#date').change(function() {
      var day = $('#date').val();
    });
  </script>
</div>