<div>
  <h2>今日の目標と実利の差異</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="center" scope="col">時間</th>
        <% (7..22).each do |num| %>
          <th class= "center" scope="col"><%= num %></th>
        <% end %>
        <th class="center" scope="col">合計</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="center" scope="row">件数</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <% unless @target.find_by(time: num).nil? %>
            <% balance = @today.find_by(time: num)[:transactions] - @target.find_by(time: num)[:transactions]%>
            <% if balance < 0 %>
              <td class="rigth text-danger"><%= balance %></td>
            <%else%>
              <td class="rigth"><%= balance %></td>
            <% end %>
            <% total << balance %>
          <% end %>
        <% end %>
        <td class="rigth"><%= total.sum %></td>
      </tr>
      <tr>
        <th class="center" scope="row">単価</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <% unless @target.find_by(time: num).nil? %>
            <% balance = @today.find_by(time: num)[:price] - @target.find_by(time: num)[:price] %>
            <% if balance < 0 %>
              <td class="rigth text-danger"><%= balance %></td>
            <%else%>
              <td class="rigth"><%= balance %></td>
            <% total << balance %>
            <% end %>
          <% end %>
        <% end %>
        <% unless total.length == 0 %>
          <td class="rigth"><%= total.sum / total.length %></td>
        <% end %>
      </tr>
      <tr>
        <th class="center" scope="row">時間別合計金額</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <% unless @target.find_by(time: num).nil? %>
            <% today = @today.find_by(time: num)[:price] *  @today.find_by(time: num)[:transactions] %>
            <% target = @target.find_by(time: num)[:price] *  @target.find_by(time: num)[:transactions] %>
            <% if today - target < 0 %>
              <td class="rigth text-danger"><%= today - target %></td>
            <% else %>
              <td class="rigth"><%= today - target %></td>
            <% end %>
            <% total << today - target %>
          <% end %>
        <% end %>
        <% unless total.length == 0 %>
          <td class="rigth"><%= total.sum / total.length %></td>
        <% end %>
      </tr>
      <tr>
        <th class="center" scope="row">累計金額</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <% unless @target.find_by(time: num).nil? %>
            <% today = @today.find_by(time: num)[:price] *  @today.find_by(time: num)[:transactions] %>
            <% target = @target.find_by(time: num)[:price] *  @target.find_by(time: num)[:transactions] %>
            <% total << today - target %>
            <% if total.sum < 0 %>
              <td class="rigth text-danger"><%= total.sum %></td>
            <% else %>
              <td class="rigth"><%= total.sum %></td>
            <% end %>
          <% end %>
        <% end %>
        <td class="rigth"><%= total.sum %></td>
      </tr>
    </tbody>
  </table>
</div>