<div>
  <h2><%= @today.first[:date] %></h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="center" scope="col">時間</th>
        <% 16.times do |num| %>
          <th class= "center" scope="col"><%= num + 7 %></th>
        <% end %>
        <th class="center" scope="col">合計</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="center" scope="row">件数</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <td class="rigth" contentEditable = "true"><%= @today.find_by(time: num)[:transactions] %></td>
          <% total << @today.find_by(time: num)[:transactions] %>
        <% end %>
        <td class="rigth"><%= total.sum %></td>
      </tr>
      <tr>
        <th class="center" scope="row">単価</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <td class="rigth" contentEditable = "true"><%= @today.find_by(time: num)[:price] %></td>
          <% total << @today.find_by(time: num)[:price] %>
        <% end %>
        <td class="rigth"><%= total.sum / total.length %></td>
      </tr>
      <tr>
        <th class="center" scope="row">時間別合計金額</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <td class="rigth"><%= @today.find_by(time: num)[:total] %></td>
          <% total << @today.find_by(time: num)[:total] %>
        <% end %>
        <td class="rigth"><%= total.sum / total.length %></td>
      </tr>
      <tr>
        <th class="center" scope="row">累計金額</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <% total << @today.find_by(time: num)[:total] %>
          <td class="rigth"><%= total.sum %></td>
        <% end %>
        <td class="rigth"><%= total.sum %></td>
      </tr>
    </tbody>
  </table>
  <% if current_user.admin? %>
    <input type="number" id="time" value="">
    <input type="submit" id="btn" value="確定">
    <script>
      var btn = document.getElementById("btn")
      var myfunc = function(){
        var time = document.getElementById("time").value ;
        var num = time - 7
        var id = gon.today[num]["id"]
        location.href = `/sales/${id}/edit`
      }
      btn.onclick = myfunc;
    </script>
  <% end %>

  
</div>