<% provide(:title, "Sales") %>

<% # header %>

<% # graph %>

  <h1>当日の実利と目標</h1>
  <canvas id="myLineChart"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

  <script>
  var ctx = document.getElementById("myLineChart");
  var myLineChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: [7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22],
      datasets: [
        {
          label: '売上',
          data: <% total = [] %>
                <% (7..22).each do |num| %>
                  <% total << @data_of_today.find_by(time: num)[:price] *  @data_of_today.find_by(time: num)[:transactions] %>
                <% end %>
                <%= total %>,
          borderColor: "rgba(255,0,0,1)",
          backgroundColor: "rgba(0,0,0,0)"
        },
        {
          label: '目標',
          data: <% total = []%>
                <% (7..22).each do |num| %>
                  <% total << @sample_day.find_by(time: num)[:price] *  @sample_day.find_by(time: num)[:transactions] %>
                <% end %>
                <%= total %>,
          borderColor: "rgba(0,0,255,1)",
          backgroundColor: "rgba(0,0,0,0)"
        },
      ],
    },
    options: {
      title: {
        display: true,
        text: '今日の売上'
      },
      scales: {
        yAxes: [{
          ticks: {
            suggestedMax: 150000,
            suggestedMin: 0,
            stepSize: 10000,
            callback: function(value, index, values){
              return  value
            }
          }
        }]
      },
    }
  });
  </script>

<% # 当日の実表 %>
<div>
  <p><%= @data_of_today.first[:date] %></p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="center" scope="col">時間</th>
        <% (7..22).each do |num| %>
          <th class= "center" scope="col"><%= num %></th>
        <% end %>
        <th class="center" scope="col">合計</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="center" scope="row">件数</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <td class="rigth" contentEditable = "true"><%= @data_of_today.find_by(time: num)[:transactions] %></td>
          <% total << @data_of_today.find_by(time: num)[:transactions] %>
        <% end %>
        <td class="rigth"><%= total.sum %></td>
      </tr>
      <tr>
        <th class="center" scope="row">単価</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <td class="rigth" contentEditable = "true"><%= @data_of_today.find_by(time: num)[:price] %></td>
          <% total << @data_of_today.find_by(time: num)[:price] %>
        <% end %>
        <td class="rigth"><%= total.sum / total.length %></td>
      </tr>
      <tr>
        <th class="center" scope="row">時間別合計金額</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <td class="rigth"><%= @data_of_today.find_by(time: num)[:price] *  @data_of_today.find_by(time: num)[:transactions] %></td>
          <% total << @data_of_today.find_by(time: num)[:price] *  @data_of_today.find_by(time: num)[:transactions] %>
        <% end %>
        <td class="rigth"><%= total.sum / total.length %></td>
      </tr>
      <tr>
        <th class="center" scope="row">累計金額</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <% total << @data_of_today.find_by(time: num)[:price] *  @data_of_today.find_by(time: num)[:transactions] %>
          <td class="rigth"><%= total.sum %></td>
        <% end %>
        <td class="rigth"><%= total.sum %></td>
      </tr>
    </tbody>
  </table>
  <input type="number" id="time" value="">
  <input type="submit" id="btn" value="確定">
  <script>
    var btn = document.getElementById("btn")
    var myfunc = function(){
      var time = document.getElementById("time").value ;
      var num = time - 7
      var id = gon.data_of_today[num]["id"]
      location.href = `/sales/${id}/edit`
    }
    btn.onclick = myfunc;
  </script>
</div>

<% # 当日の目標 %>
<div>
  <p>今日の目標</p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="center" scope="col">時間</th>
        <% (7..22).each do |num| %>
          <th class= "center" scope="col"><%= num %></th>
        <% end %>
        <th class="center" scope="col">合計</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="center" scope="row">件数</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <td class="rigth" contentEditable = "true"><%= @sample_day.find_by(time: num)[:transactions] %></td>
          <% total << @sample_day.find_by(time: num)[:transactions] %>
        <% end %>
        <td class="rigth"><%= total.sum %></td>
      </tr>
      <tr>
        <th class="center" scope="row">単価</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <td class="rigth" contentEditable = "true"><%= @sample_day.find_by(time: num)[:price] %></td>
          <% total << @sample_day.find_by(time: num)[:price] %>
        <% end %>
        <td class="rigth"><%= total.sum / total.length %></td>
      </tr>
      <tr>
        <th class="center" scope="row">時間別合計金額</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <td class="rigth"><%= @sample_day.find_by(time: num)[:price] *  @sample_day.find_by(time: num)[:transactions] %></td>
          <% total << @sample_day.find_by(time: num)[:price] *  @sample_day.find_by(time: num)[:transactions] %>
        <% end %>
        <td class="rigth"><%= total.sum / total.length %></td>
      </tr>
      <tr>
        <th class="center" scope="row">累計金額</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <% total << @sample_day.find_by(time: num)[:price] *  @sample_day.find_by(time: num)[:transactions] %>
          <td class="rigth"><%= total.sum %></td>
        <% end %>
        <td class="rigth"><%= total.sum %></td>
      </tr>
    </tbody>
  </table>
</div>

<% # 今日の目標と実利の差異 %>
<%= line_chart [
  {name: "Series A", data: 1 },
  {name: "Series B", data: 2 }
], xtitle: "時間", ytitle: "売上" %>

<div>
  <p>今日の目標と実利の差異</p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="center" scope="col">時間</th>
        <% (7..22).each do |num| %>
          <th class= "center" scope="col"><%= num %></th>
        <% end %>
        <th class="center" scope="col">合計</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="center" scope="row">件数</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <% balance = @data_of_today.find_by(time: num)[:transactions] - @sample_day.find_by(time: num)[:transactions]%>
          <% if balance < 0 %>
            <td class="rigth text-danger"><%= balance %></td>
          <%else%>
            <td class="rigth"><%= balance %></td>
          <% end %>
          <% total << balance %>
        <% end %>
        <td class="rigth"><%= total.sum %></td>
      </tr>
      <tr>
        <th class="center" scope="row">単価</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <% balance = @data_of_today.find_by(time: num)[:price] - @sample_day.find_by(time: num)[:price] %>
          <% if balance < 0 %>
            <td class="rigth text-danger"><%= balance %></td>
          <%else%>
            <td class="rigth"><%= balance %></td>
          <% total << balance %>
          <% end %>
        <% end %>
        <td class="rigth"><%= total.sum / total.length %></td>
      </tr>
      <tr>
        <th class="center" scope="row">時間別合計金額</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <% today = @data_of_today.find_by(time: num)[:price] *  @data_of_today.find_by(time: num)[:transactions] %>
          <% target = @sample_day.find_by(time: num)[:price] *  @sample_day.find_by(time: num)[:transactions] %>
          <% if today - target < 0 %>
            <td class="rigth text-danger"><%= today - target %></td>
          <% else %>
            <td class="rigth"><%= today - target %></td>
          <% end %>
          <% total << today - target %>
        <% end %>
        <td class="rigth"><%= total.sum / total.length %></td>
      </tr>
      <tr>
        <th class="center" scope="row">累計金額</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <% today = @data_of_today.find_by(time: num)[:price] *  @data_of_today.find_by(time: num)[:transactions] %>
          <% target = @sample_day.find_by(time: num)[:price] *  @sample_day.find_by(time: num)[:transactions] %>
          <% total << today - target %>
          <% if total.sum < 0 %>
            <td class="rigth text-danger"><%= total.sum %></td>
          <% else %>
            <td class="rigth"><%= total.sum %></td>
          <% end %>
        <% end %>
        <td class="rigth"><%= total.sum %></td>
      </tr>
    </tbody>
  </table>
</div>

<% # 任意の日 %>
<div>
  <p>任意の日の売上</p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="center" scope="col">時間</th>
        <% (7..22).each do |num| %>
          <th class= "center" scope="col"><%= num %></th>
        <% end %>
        <th class="center" scope="col">合計</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="center" scope="row">件数</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <td class="rigth"><%= @sample_day.find_by(time: num)[:transactions] %></td>
          <% total << @sample_day.find_by(time: num)[:transactions] %>
        <% end %>
        <td class="rigth"><%= total.sum %></td>
      </tr>
      <tr>
        <th class="center" scope="row">単価</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <td class="rigth"><%= @sample_day.find_by(time: num)[:price] %></td>
          <% total << @sample_day.find_by(time: num)[:price] %>
        <% end %>
        <td class="rigth"><%= total.sum / total.length %></td>
      </tr>
      <tr>
        <th class="center" scope="row">時間別合計金額</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <td class="rigth"><%= @sample_day.find_by(time: num)[:price] *  @sample_day.find_by(time: num)[:transactions] %></td>
          <% total << @sample_day.find_by(time: num)[:price] *  @sample_day.find_by(time: num)[:transactions] %>
        <% end %>
        <td class="rigth"><%= total.sum / total.length %></td>
      </tr>
      <tr>
        <th class="center" scope="row">累計金額</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <% total << @sample_day.find_by(time: num)[:price] *  @sample_day.find_by(time: num)[:transactions] %>
          <td class="rigth"><%= total.sum %></td>
        <% end %>
        <td class="rigth"><%= total.sum %></td>
      </tr>
    </tbody>
  </table>
</div>

<% #任意の日と当日の差異 %>
<%= line_chart [
  {name: "Series A", data: 1 },
  {name: "Series B", data: 2 }
], xtitle: "時間", ytitle: "売上" %>
<div>
  <p>今日と任意の日の売上の差異</p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="center" scope="col">時間</th>
        <% (7..22).each do |num| %>
          <th class= "center" scope="col"><%= num %></th>
        <% end %>
        <th class="center" scope="col">合計</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="center" scope="row">件数</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <% balance = @data_of_today.find_by(time: num)[:transactions] - @sample_day.find_by(time: num)[:transactions]%>
          <% if balance < 0 %>
            <td class="rigth text-danger"><%= balance %></td>
          <%else%>
            <td class="rigth"><%= balance %></td>
          <% end %>
          <% total << balance %>
        <% end %>
        <td class="rigth"><%= total.sum %></td>
      </tr>
      <tr>
        <th class="center" scope="row">単価</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <% balance = @data_of_today.find_by(time: num)[:price] - @sample_day.find_by(time: num)[:price] %>
          <% if balance < 0 %>
            <td class="rigth text-danger"><%= balance %></td>
          <%else%>
            <td class="rigth"><%= balance %></td>
          <% total << balance %>
          <% end %>
        <% end %>
        <td class="rigth"><%= total.sum / total.length %></td>
      </tr>
      <tr>
        <th class="center" scope="row">時間別合計金額</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <% today = @data_of_today.find_by(time: num)[:price] *  @data_of_today.find_by(time: num)[:transactions] %>
          <% target = @sample_day.find_by(time: num)[:price] *  @sample_day.find_by(time: num)[:transactions] %>
          <% if today - target < 0 %>
            <td class="rigth text-danger"><%= today - target %></td>
          <% else %>
            <td class="rigth"><%= today - target %></td>
          <% end %>
          <% total << today - target %>
        <% end %>
        <td class="rigth"><%= total.sum / total.length %></td>
      </tr>
      <tr>
        <th class="center" scope="row">累計金額</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <% today = @data_of_today.find_by(time: num)[:price] *  @data_of_today.find_by(time: num)[:transactions] %>
          <% target = @sample_day.find_by(time: num)[:price] *  @sample_day.find_by(time: num)[:transactions] %>
          <% total << today - target %>
          <% if total.sum < 0 %>
            <td class="rigth text-danger"><%= total.sum %></td>
          <% else %>
            <td class="rigth"><%= total.sum %></td>
          <% end %>
        <% end %>
        <td class="rigth"><%= total.sum %></td>
      </tr>
    </tbody>
  </table>
</div>