<% provide(:title, "Sales") %>

<% # header %>

<% # graph %>

<h1>当日の実利と目標</h1>
<canvas id="myLineChart"></canvas>
<script>
var ctx = document.getElementById("myLineChart");
var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: [7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22],
    datasets: [
      {
        label: '売上',
        data: <% total = [] %>
              <% (7..22).each do |num| %>
                <% total << @today.find_by(time: num)[:price] *  @today.find_by(time: num)[:transactions] %>
              <% end %>
              <%= total %>,
        borderColor: "rgba(255,0,0,1)",
        backgroundColor: "rgba(0,0,0,0)"
      },
      {
        label: '目標',
        data: <% total = []%>
              <% (7..22).each do |num| %>
                <% unless @target.find_by(time: num).nil? %>
                  <% total << @target.find_by(time: num)[:price] *  @target.find_by(time: num)[:transactions]%>
                <% end %>
              <% end %>
              <%= total %>,
        borderColor: "rgba(0,0,255,1)",
        backgroundColor: "rgba(0,0,0,0)"
      },
    ],
  },
  options: {
    title: {
      display: true,
      text: '今日の売上'
    },
    scales: {
      yAxes: [{
        ticks: {
          suggestedMax: 150000,
          suggestedMin: 0,
          stepSize: 10000,
          callback: function(value, index, values){
            return  value
          }
        }
      }]
    },
  }
});
</script>

<% # 当日の実表 %>
<div>
  <p><%= @today.first[:date] %></p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="center" scope="col">時間</th>
        <% (@today.length).times do |num| %>
          <th class= "center" scope="col"><%= num + 7 %></th>
        <% end %>
        <th class="center" scope="col">合計</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="center" scope="row">件数</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <td class="rigth" contentEditable = "true"><%= @today.find_by(time: num)[:transactions] %></td>
          <% total << @today.find_by(time: num)[:transactions] %>
        <% end %>
        <td class="rigth"><%= total.sum %></td>
      </tr>
      <tr>
        <th class="center" scope="row">単価</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <td class="rigth" contentEditable = "true"><%= @today.find_by(time: num)[:price] %></td>
          <% total << @today.find_by(time: num)[:price] %>
        <% end %>
        <td class="rigth"><%= total.sum / total.length %></td>
      </tr>
      <tr>
        <th class="center" scope="row">時間別合計金額</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <td class="rigth"><%= @today.find_by(time: num)[:price] *  @today.find_by(time: num)[:transactions] %></td>
          <% total << @today.find_by(time: num)[:price] *  @today.find_by(time: num)[:transactions] %>
        <% end %>
        <td class="rigth"><%= total.sum / total.length %></td>
      </tr>
      <tr>
        <th class="center" scope="row">累計金額</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <% total << @today.find_by(time: num)[:price] *  @today.find_by(time: num)[:transactions] %>
          <td class="rigth"><%= total.sum %></td>
        <% end %>
        <td class="rigth"><%= total.sum %></td>
      </tr>
    </tbody>
  </table>
  <input type="number" id="time" value="">
  <input type="submit" id="btn" value="確定">
  <script>
    var btn = document.getElementById("btn")
    var myfunc = function(){
      var time = document.getElementById("time").value ;
      var num = time - 7
      var id = gon.today[num]["id"]
      location.href = `/sales/${id}/edit`
    }
    btn.onclick = myfunc;
  </script>
</div>

<% # 今日の目標 %>
<div>
  <p>今日の目標</p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="center" scope="col">時間</th>
        <% (@target.length).times do |num| %>
          <th class= "center" scope="col"><%= num + 7 %></th>
        <% end %>
        <th class="center" scope="col">合計</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="center" scope="row">件数</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <% unless @target.find_by(time: num).nil? %>
            <td class="rigth" contentEditable = "true"><%= @target.find_by(time: num)[:transactions] %></td>
            <% total << @target.find_by(time: num)[:transactions] %>
          <% end %>
        <% end %>
        <td class="rigth"><%= total.sum %></td>
      </tr>
      <tr>
        <th class="center" scope="row">単価</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <% unless @target.find_by(time: num).nil? %>
            <td class="rigth" contentEditable = "true"><%= @target.find_by(time: num)[:price] %></td>
            <% total << @target.find_by(time: num)[:price] %>
          <% end %>
        <% end %>
        <% unless total.length == 0 %>
          <td class="rigth"><%= total.sum / total.length %></td>
        <% end %>
      </tr>
      <tr>
        <th class="center" scope="row">時間別合計金額</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <% unless @target.find_by(time: num).nil? %>
            <td class="rigth"><%= @target.find_by(time: num)[:price] *  @target.find_by(time: num)[:transactions] %></td>
            <% total << @target.find_by(time: num)[:price] *  @target.find_by(time: num)[:transactions] %>
          <% end %>
        <% end %>
        <% unless total.length == 0 %>
          <td class="rigth"><%= total.sum / total.length %></td>
        <% end %>
      </tr>
      <tr>
        <th class="center" scope="row">累計金額</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <% unless @target.find_by(time: num).nil? %>
            <% total << @target.find_by(time: num)[:price] *  @target.find_by(time: num)[:transactions] %>
            <td class="rigth"><%= total.sum %></td>
          <% end %>
        <% end %>
        <td class="rigth"><%= total.sum %></td>
      </tr>
    </tbody>
  </table>
  <input type="submit" id="new" value="新規作成">
  <script>
    var btn_target = document.getElementById("new")
    var myfunc_target = function(){
      location.href = `/targets/new`
    }
    btn_target.onclick = myfunc_target;
  </script>
  <input type="number" id="time_target" value="">
  <input type="submit" id="tar" value="確定">
  <script>
    var tar = document.getElementById("tar")
    var targetfunc = function(){
      var time = document.getElementById("time_target").value ;
      var num = time - 7
      var id = gon.target[num]["id"]
      location.href = `/targets/${id}/edit`
    }
    tar.onclick = targetfunc;
  </script>
</div>

<h1>差異</h1>
  <canvas id="difference"></canvas>
  <script>
  var ctx = document.getElementById("difference");
  var difference = new Chart(ctx, {
    type: 'line',
    data: {
      labels: [7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22],
      datasets: [
        {
          label: '時間帯別売上の差異',
          data: <% total = [] %>
                <% (7..22).each do |num| %>
                  <% today = @today.find_by(time: num)[:price] *  @today.find_by(time: num)[:transactions] %>
                  <% target = @target.find_by(time: num)[:price] *  @target.find_by(time: num)[:transactions] %>
                  <% total << today - target %>
                <% end %>
                <%= total %>,
          borderColor: "rgba(255,0,0,1)",
          backgroundColor: "rgba(0,0,0,0)"
        },
        {
          label: '累計売上の差異',
          data: <% array = [] %>
                <% (7..22).each do |num| %>
                  <% today = @today.find_by(time: num)[:price] *  @today.find_by(time: num)[:transactions] %>
                  <% target = @target.find_by(time: num)[:price] *  @target.find_by(time: num)[:transactions] %>
                  <% array << today - target %>
                <% end %>
                <% total = 0 %>
                <%= array.map{|i| total += i} %>,
          borderColor: "rgba(0,0,255,1)",
          backgroundColor: "rgba(0,0,0,0)"
        }
      ],
    },
    options: {
      title: {
        display: true,
        text: '今日の売上'
      },
      scales: {
        yAxes: [{
          ticks: {
            suggestedMax: 150000,
            suggestedMin: -100000,
            stepSize: 10000,
            callback: function(value, index, values){
              return  value
            }
          }
        }]
      },
    }
  });
  </script>

<% # 今日の目標と実利の差異 %>

<div>
  <p>今日の目標と実利の差異</p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="center" scope="col">時間</th>
        <% (7..22).each do |num| %>
          <th class= "center" scope="col"><%= num %></th>
        <% end %>
        <th class="center" scope="col">合計</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="center" scope="row">件数</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <% unless @target.find_by(time: num).nil? %>
            <% balance = @today.find_by(time: num)[:transactions] - @target.find_by(time: num)[:transactions]%>
            <% if balance < 0 %>
              <td class="rigth text-danger"><%= balance %></td>
            <%else%>
              <td class="rigth"><%= balance %></td>
            <% end %>
            <% total << balance %>
          <% end %>
        <% end %>
        <td class="rigth"><%= total.sum %></td>
      </tr>
      <tr>
        <th class="center" scope="row">単価</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <% unless @target.find_by(time: num).nil? %>
            <% balance = @today.find_by(time: num)[:price] - @target.find_by(time: num)[:price] %>
            <% if balance < 0 %>
              <td class="rigth text-danger"><%= balance %></td>
            <%else%>
              <td class="rigth"><%= balance %></td>
            <% total << balance %>
            <% end %>
          <% end %>
        <% end %>
        <% unless total.length == 0 %>
          <td class="rigth"><%= total.sum / total.length %></td>
        <% end %>
      </tr>
      <tr>
        <th class="center" scope="row">時間別合計金額</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <% unless @target.find_by(time: num).nil? %>
            <% today = @today.find_by(time: num)[:price] *  @today.find_by(time: num)[:transactions] %>
            <% target = @target.find_by(time: num)[:price] *  @target.find_by(time: num)[:transactions] %>
            <% if today - target < 0 %>
              <td class="rigth text-danger"><%= today - target %></td>
            <% else %>
              <td class="rigth"><%= today - target %></td>
            <% end %>
            <% total << today - target %>
          <% end %>
        <% end %>
        <% unless total.length == 0 %>
          <td class="rigth"><%= total.sum / total.length %></td>
        <% end %>
      </tr>
      <tr>
        <th class="center" scope="row">累計金額</th>
        <% total = [] %>
        <% (7..22).each do |num| %>
          <% unless @target.find_by(time: num).nil? %>
            <% today = @today.find_by(time: num)[:price] *  @today.find_by(time: num)[:transactions] %>
            <% target = @target.find_by(time: num)[:price] *  @target.find_by(time: num)[:transactions] %>
            <% total << today - target %>
            <% if total.sum < 0 %>
              <td class="rigth text-danger"><%= total.sum %></td>
            <% else %>
              <td class="rigth"><%= total.sum %></td>
            <% end %>
          <% end %>
        <% end %>
        <td class="rigth"><%= total.sum %></td>
      </tr>
    </tbody>
  </table>
</div>

<!----------------任意の日---------------->

